.logo {
  color: red;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f9f9;
  align-items: center;
}

.headerIcon {
  padding: 20px;
  text-decoration: none;
  color: inherit;
}
