.card {
    position: relative;
    width: 500px;
    padding: 20px;
    max-width: 85vw;
    height: 55vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;

}

.tinderCards_cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe{
    position: absolute;
}